{% extends 'base.html' %}

<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<link href="https://fonts.googleapis.com/css?family=Cinzel|Libre+Baskerville|Merienda|ZCOOL+XiaoWei" rel="stylesheet"> {% endblock %}

<!-- Content block -->

{% block content %}
<div class="container">
    <div class="row">
        <div class="container col-md-4 ">
            <div class="sidebar-sticky">
                <nav class="d-none d-md-block bg-light sidebar">
                    <div class="card container-fluid" style="width: 40rem;">
                        <div class="card-header">
                            <h2 class="text-muted" style="color: goldenrod"> NEWS SOURCES A-Z</h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for source in sources %}
                            <li class="list-group-item "><a class="text-warning" style="text-decoration: none;" href="/source/{{source.id}}">{{ source.name.upper() }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="container col-md-7" style="background-color: #fff;
    border: 1px solid #e8e8e9;float: right">
            <div>
                <h2 style="size:21px;color: goldenrod"> TOP AND TRENDING </h2>
                <hr> {% for james in Everything %} {% if james.urlToImage%}
                <div class="card">
                    <div class="card-body">
                        <h2 style="size:21px" class="card-title text-warning">{{ james.title }}</h2>
                        <hr>
                        <p class="card-text text-body">{{ james.description }}</p>


                        <img src="{{ james.urlToImage }}" class="card-img-top img-responsive" alt="...">
                        <p class="card-text" style='text-align: right;' class="text-muted">Article by {{ james.author }} on {{ james.publishedAt}}</p>
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-outline-success"><a class="text-warning" style="text-decoration: none;" href="{{ james.url }}">READ MORE</a></button></div>

                    </div>
                    <br>
                    <hr>
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}