<div class="site-header sticky-top py-1" style="  background-color: #CD853F;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only" >Toggle navigation</span>
        <span class="icon-bar" ></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand text-center text-warning" href="/" style="color:black;
      transition: ease-in-out color .15s;">News Highlight</a>
        </div>

    </div>
</div>
<br>